{% extends 'base.html' %}

{% block content %}

<main class="mt-3">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-6 align-self-center">
                <iframe width="540", height="300", src="https://www.youtube.com/embed/{{video_id}}" frameborder="1"></iframe>
            </div>
            <div class="col-6 align-self-center">
                <iframe width="540", height="300", src="https://www.youtube.com/embed/{{video_id}}" frameborder="1"></iframe>
            </div>
        </div>
    </div>
</main>

{% endblock %}